/Tests/*.dcu
__history
*.local
*.dcu
*.identcache
*.rsm
*.drc
*.map
/DynamicRecord assignments.ods
*.stat
*.log
/Source/Components/__recovery
/Source/__recovery
/Library/Win32/Debug
/Demos/FastMM_FullDebugMode.dll
/Demos/Win32/Debug/DDuce.Demos_MemoryManager_EventLog.txt
/Demos/Win32/Debug/FastMM_FullDebugMode.dll
/FastMM_FullDebugMode.dll
/Packages/jedi.inc
/Tests/DDuce.Tests.exe
/Library
Win32
Win64
/Demos/Resources/Thumbs.db
/Demos/*.skincfg
/Tests/*.skincfg
/*.db
/Wiki/Thumbs.db
*.skincfg
/Packages/*.tvsconfig
